szdatafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "szdatafactory"
		},
		"szSQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'szSQL'"
		},
		"weatherblob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'weatherblob'"
		},
		"NOAA_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/all/"
		},
		"noaaftp_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "ftp.ncdc.noaa.gov/pub/data"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Stored Procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Copy Data1').output.Rows",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "NOAAData",
											"type": "DatasetReference",
											"parameters": {
												"PipelineFileList": "@item()"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "weatherblob",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[GetStations]",
							"storedProcedureParameters": {
								"StationType": {
									"value": "US",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "szSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PipelineFileList": {
						"type": "array",
						"defaultValue": [
							"ACW00011604.dly",
							"ACW00011647.dly"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/szSQL')]",
				"[concat(variables('factoryId'), '/datasets/NOAAData')]",
				"[concat(variables('factoryId'), '/datasets/weatherblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NOAAData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NOAA",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PipelineFileList": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().PipelineFileList",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/NOAA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NOAAFtpData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "noaaftp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"fileName": "US*.dly",
						"folderPath": "/pub/data/ghcn/daily/all"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/noaaftp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/weatherblob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "weatherblob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "rawweather"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/weatherblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NOAA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('NOAA_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/noaaftp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"dszepesi@hotmail.com"
				],
				"type": "FtpServer",
				"typeProperties": {
					"host": "[parameters('noaaftp_properties_typeProperties_host')]",
					"port": 21,
					"enableSsl": false,
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/szSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('szSQL_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/weatherblob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('weatherblob_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}